[submodule "differentialScanningFluorimetryApps"]
	path = differentialScanningFluorimetryApps
	url = https://github.com/SPC-Facility-EMBL-Hamburg/differentialScanningFluorimetryApps
[submodule "circularDichroismApp"]
	path = circularDichroismApp
	url = https://github.com/SPC-Facility-EMBL-Hamburg/circularDichroismApp
[submodule "dynamicLightScatteringApp"]
	path = dynamicLightScatteringApp
	url = https://github.com/SPC-Facility-EMBL-Hamburg/dynamicLightScatteringApp
[submodule "massPhotometryApp"]
	path = massPhotometryApp
	url = https://github.com/SPC-Facility-EMBL-Hamburg/massPhotometryApp
[submodule "microscaleThermophoresisApp"]
	path = microscaleThermophoresisApp
	url = https://github.com/SPC-Facility-EMBL-Hamburg/microscaleThermophoresisApp
[submodule "thermochemicalDenaturationApp"]
	path = thermochemicalDenaturationApp
	url = https://github.com/SPC-Facility-EMBL-Hamburg/thermochemicalDenaturationApp
[submodule "bindingKineticsApp"]
	path = bindingKineticsApp
	url = https://github.com/SPC-Facility-EMBL-Hamburg/bindingKineticsApp
